footer{                                                         /*Contiene el footer*/
    width: 100%;
    background: #202020;
    color: white;   
    position:absolute;
    top:197vh;
    z-index:12;
}

.container-footer-all{                                          /*Contiene el contenido del footer*/
    width: 100%;                                        
    max-width: 1200px;                                          /*Establece el tamaño de este*/
    margin: auto;
    padding: 40px;
}

.container-body{                                                /*Es el contenedor flex*/
    display: flex;
    justify-content: space-between;
}

/*Empiezan las columnas*/

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{                             /*Las filas del footer*/
    margin-top: 20px;
    display: flex;
}

.row img{                       
    width: 36px;
    height: 36px;
}

.row label{                         /*Etiqueta del footer*/
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

/*contiene el contenido legal*/

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}














