@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

a {
    text-decoration:none;
}

body{
    font-family: 'Exo', sans-serif;
    background: #34388C;  
    background: -webkit-linear-gradient(to left, #8f94fb, #34388C); 
}

/*Aqui inicia la barra de navegacion */

#barra{                                     /*la barra de navegacion*/
    width:100vw;
    height:5vh;
    position: fixed;
    top:0;
    background-color:rgba(0, 0, 0, 0.9);
    z-index:10;
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    z-index:30;
}

#barra > a {                                   /*elementos dentro de la barra*/
text-align:center;
color: rgba(255, 255, 255, 0.8);
margin-left:1.5vw;
margin-right:1.5vw;
font-weight:600;
}

#barra > a:hover {
    color:#fff;
}

.logo{
    width:4vh;
    height:4vh;
    margin-right:2vw;
    margin-left:2vw;
}

#profile{                                   /*elementos al final de la barra*/
    width:100vw;
    height:100%;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
}

.profile{
    margin-right:1vw;
    margin-left:1vw;
    color:rgba(255, 255, 255, 0.8);
    font-weight:600;
}

.profile:hover{
    color:#fff;
}

.separator{
    width: 1px;
    height: 28px;
    margin-left:1vw;
    margin-right:1vw;
    background-color: #fff;
}

#izquierda{
    margin-right:2vw;
}

/*Aqui acaba el nav*/

/*Aqui inicia el footer*/

footer{                                                         /*Contiene el footer*/
    width: 100%;
    background: #202020;
    color: white;   
    z-index:12;
}

.container-footer-all{                                          /*Contiene el contenido del footer*/
    width: 100%;                                        
    max-width: 1200px;                                          /*Establece el tamaño de este*/
    margin: auto;
    padding: 40px;
}

.container-body{                                                /*Es el contenedor flex*/
    display: flex;
    justify-content: space-between;
}

/*Empiezan las columnas*/

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{                             /*Las filas del footer*/
    margin-top: 20px;
    display: flex;
}

.row img{                       
    width: 36px;
    height: 36px;
}

.row label{                         /*Etiqueta del footer*/
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

/*contiene el contenido legal*/

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

/*Aqui acaba el footer*/

/*Inicia la animación*/

.circles{
    position: absolute;
    top: 6.6vh;
    left: 0;
    width: 100%;
    height: 100%;                                                          /*El tamaño del contenedor */
    overflow: hidden;
    z-index:1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;                                                             /*De aqui inician las animaciones*/
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;                              /*La posicion horizontal*/  
    width: 150px;                           /*tamaño*/
    height: 150px;                          
    animation-delay: 0s;                    /*tiempo en salir*/    
    animation-duration: 11s;                /*duracion de la animacion*/
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }  

}
