@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

a {
    text-decoration:none;
}

body{
    font-family: 'Exo', sans-serif;
}

#barra{                                     /*la barra de navegacion*/
    width:100vw;
    height:3.5vh;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.9);
    z-index:10;
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    z-index:30;
}

#barra > a {                                   /*elementos dentro de la barra*/
text-align:center;
color: rgba(255, 255, 255, 0.8);
margin-left:1.5vw;
margin-right:1.5vw;
font-weight:600;
}

#barra > a:hover {
    color:#fff;
}

.logo{
    width:4vh;
    height:4vh;
    margin-right:2vw;
    margin-left:2vw;
}

#profile{                                   /*elementos al final de la barra*/
    width:100vw;
    height:100%;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
}

.profile{
    margin-right:1vw;
    margin-left:1vw;
    color:rgba(255, 255, 255, 0.8);
    font-weight:600;
}

.profile:hover{
    color:#fff;
}

.separator{
    width: 1px;
    height: 28px;
    margin-left:1vw;
    margin-right:1vw;
    background-color: #fff;
}

#izquierda{
    margin-right:2vw;
}

.container-login {
    position:absolute;
    top:15vh;
}